<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="description" content="WebRTC code samples">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
	<meta itemprop="description" content="Client-side WebRTC code samples">
	<meta itemprop="image" content="../../../images/webrtc-icon-192x192.png">
	<meta itemprop="name" content="WebRTC code samples">
	<meta name="mobile-web-app-capable" content="yes">
	<meta id="theme-color" name="theme-color" content="#ffffff">
	<title> Luz Glass </title>

	<base target="_blank">

	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="static/css/main.css?cache_bust=wwwww44w">

</head>

<body>

	<div id="container">

		<div align = "center">
					<h2> Luz Glass <span id = "object_data" class = "object_info"></span></h2>
			<button id="find_object" class="btn_large_one">Read</button>
		</div>

		
		<video playsinline autoplay></video>
		<canvas></canvas>
		<input type="text" id="text_to_speech" value="">
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


	<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
	<script src="static/js/main.js?r333sddddss3t" async></script>
</body>

</html>